<div class="info-hero">
  <div class="container text-center pt-3">
    <h1 class="info-title text-light">SOBRE NOSOTROS</h1>
    <mat-icon class="text-light info__icon">tonality</mat-icon>
    <div class="info_body my-5">
      <p class="text-light info__description">
        Somos Comedor Untels, un agradable lugar que le permitirá a usted
        disfrutar de la mejor comida peruana y saborear exquisitos platos
        criollos. En nuestra restaurante tenemos una trayectoria de 15 años
        atendiendo a todo tipo de clientes, a quienes ofrecemos un trato amable,
        cordial y ordenado. Estamos en Villa el Salvador. Somos un restaurante
        especializado en platos nutritivos para el desorrollo físico y
        psicológico, con una carta variada para todo tipo de gustos. La comida
        es rica y agradable, todo se prepara al momento, empleando, por ejemplo,
        pescado fresco del día.
      </p>
      <img src="assets/untels.jpg" class="info__image mb-3" alt="Untels Logo" />
    </div>
  </div>
</div>
