.register__group-title {
  display: grid;
  grid-template-areas:
    "brand title"
    "brand description";
  padding: 10px 0;
}

.register__brand {
  grid-area: brand;
  font-size: 70px;
  width: 100%;
  padding: 0 0.4em;
  height: 100%;
  text-align: center;
  align-self: center;
}

.register__title {
  grid-area: title;
}

.register__description {
  grid-area: description;
}
